html, body {
    font-family: 'Arial', sans-serif;
}

#canvas-test {
   
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#start-btn, #restart-btn {
    display: block;
    font-size: 30px;
    margin: 15px 0;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #5f6e57;
}

#game-over-container{
    text-align: -webkit-center;
}

.hidden {
    display: none !important;
}

#game-over-header{
    color: red;
    font-size: 75px;
}

#intro, #game-over {
    width: 100%;
    height: 100%;
    background: url("./images/img-start.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
  }
