html, body {
    font-family: 'Arial', sans-serif;
}

#canvas-test {
    border: 1px solid red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#start-btn, #restart-btn {
    display: block;
    font-size: 30px;
    margin: 15px 0;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #5f6e57;
}

.hidden {
    display: none !important;
}

#intro, #game-over {
    width: 1000px;
    height: 600px;
    background: url("./images/img-start.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
  }
